<div class="card">
  <div class="card-header">
    <h4 class="card-title">Registrera frånvaro</h4>
  </div>
  <div class="card-body">
    <form [formGroup]="form">
      <div class="row">
        <div class="col-md-6 form-group">
          <label>Fr.o.m</label>
          <input formControlName="dateFrom" class="form-control" type="date" />
        </div>
        <div class="col-md-6 form-group">
          <label>Fr.o.m</label>
          <input formControlName="dateTo" class="form-control" type="date" />
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div>
          <button *ngIf="(activeItem$ | async); let item" class="btn btn-danger" (click)="onRemoveClick(item.id)">
            Ta bort
          </button>
        </div>
        <div>
          <button *ngIf="(activeItem$ | async); let item" class="btn btn-secondary mr-2" (click)="onCancelClick(item.id)">Avbryt</button>
          <button class="btn btn-primary" (click)="onSaveClick()">Spara</button>
        </div>
      </div>
    </form>
  </div>
</div>