<div class="card">
  <div class="card-header">
    <h4 class="card-title">Frånvarolistan</h4>
  </div>
  <div class="card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fr.o.m</th>
          <th scope="col">T.o.m</th>
        </tr>
      </thead>
      <tbody>
        <tr (click)="onEditClick(item.id)" *ngFor="let item of items$ | async; let i = index" [class.table-active]="(activeItemId$ | async) === item.id">
          <th>{{ i }}</th>
          <th>{{ item.dateFrom }}</th>
          <td>{{ item.dateTo }}</td>
        </tr>
      </tbody>
    </table>

    <button (click)="onShowMoreClick()" class="btn btn-block btn-primary mt-3">Visa mer...</button>
  </div>
</div>